.todoList {
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: 100%;
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

@media (min-width: 48em) {
  .todoList {
    gap: 1.25em;
  }
}
